@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Libre+Barcode+39+Text&family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 1);
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#backgroundVideo {
    position: fixed;
    top: -10%;
    right: -25%;
    width: 200%;
    z-index: -2;
}

#background {
    background-color: rgba(255, 255, 255, .3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

main {
    overflow-y: scroll;
    position: fixed;
    top: 120px;
    bottom: 40px;
    scroll-snap-type: y mandatory;
    width: 100%;
}

section {
    height: 100%;
    padding: 5%;
    scroll-snap-align: start;
}

h2 {
    background-color: rgba(88, 128, 74, 0.2);
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
    font-weight: lighter;
    padding: 5px 8px;
    width: max-content;
}

h3 {
    font-family: 'Inconsolata', monospace;
    font-size: 1.3rem;
}

p {
    background-color: rgba(88, 128, 74, 0.2);
    font-family: 'Inconsolata', monospace;
    font-size: 1.4rem;
    padding: 5%;
    width: max-content;
}

.emoji {
    font-size: 1.5rem;
}

/* header */

header {
    background-color: rgba(230, 152, 132, 0.3);
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-between;
    padding: 4% 0 2% 0;
    width: 100%;
}

h1 {
    font-family: 'Inconsolata', monospace;
    font-size: 1.8rem;
    letter-spacing: .3em;
    padding: 0 15%;
    position: relative;
    text-align: center;
}

nav {
    width: 100%
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0 auto;
    width: 80%;
}

li {
    display: inline;
}

a {
    color: rgb(243, 243, 243);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Portfolio */

#portfolio {
    display: flex;
    flex-flow: column;
}

#portfolio-header {
    margin-bottom: 5%;
    width: 100%;
}

.portfolio-wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
}

.card-wrapper {
    display: inline-block;
    flex-shrink: 0;
    height: 450px;
    scroll-snap-align: start;
    width: 100%;
}

.card {
    height: 100%;
    padding: 5%;
    white-space: normal;
    width: 100%;
}

.dark {
    background-color: rgba(58, 78, 51, 0.2);
}

.light {
    background-color: rgba(88, 128, 74, 0.2);
}

.title-wrapper {
    /* background-color: rgba(88, 128, 74, 0.2); */
    border: 1px solid rgba(255, 255, 255, .8);
    height: fit-content;
    margin: auto;
    padding: 5px 10px;
    text-align: center;
    width: max-content;
}

.card h2 {
    background-color: transparent;
    margin: 5px auto 30px auto;
}

.img-wrapper {
    margin: 10% auto;
    width: 80%;
}

img {
    width: 100%;
}

.card p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding: 4px 5%;
    width: 100%;
}

.card a {
    font-family: 'Inconsolata', monospace;
    font-size: 1.2rem;
}

#cover-card {
    align-items: center;
    display: flex;
    justify-content: center;
}

#cover-card p {
    background-color: transparent;
    font-size: 1.5rem;
    padding: 0;
}

.hidden {
    display: none;
}

/* Contact */

#contact h2 {
    margin-bottom: 5%;
}

#contact a {
    font-family: 'Inconsolata', monospace;
    font-size: 1.4rem;
}


/* Footer */

footer {
    align-items: center;
    bottom: 0;
    display: flex;
    height: 40px;
    position: fixed;
    justify-content: space-around;
    width: 100%;
}

@media screen and (min-width: 420px) {
    header {
        padding: 2% 0;
    }
    ul {
        width: 30%;
    }
    #backgroundVideo {
        position: fixed;
        top: -25%;
        width: 125%;
        z-index: -2;
    }
    #portfolio {
        padding:10px 5%;
    }
    .portfolio-wrapper {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        overflow-x: visible;
        scroll-snap-type: none;
        white-space: normal;
    }
    .card-wrapper {
        display: block;
        height: 280px;
        margin-bottom: 5px;
        width: 300px;
    }

    .card p {
        font-size: 14px;
    }
    .img-wrapper {
        margin: 10px auto;
        width: 125px;
    }
    #cover-wrapper {
        display: none;
    }

}

@media screen and (min-width: 900px) {
    #backgroundVideo {
        position: fixed;
        top: -10%;
        left: 0;
        width: 100%;
        z-index: -2;
    }
    .card-wrapper {
        height: max-content;
        margin: 5px 10px;
        width: 250px;
    }
    .title-wrapper {
        max-width: 100%;
        margin-bottom: 10px;
    }
    .title-wrapper:hover {
        cursor: pointer;
    }
    .img-wrapper {
        display: none;
    }
    #cover-wrapper {
        display: block;
        position: absolute;
        width: min-content;
    }
    #cover-wrapper h2 {
        font-size: 18px;
        margin: 5px auto 20px auto;
        padding: 2px;
    }
    #cover-wrapper p {
        font-size: 18px;
    }
    #cover-card {
        background: transparent;
        margin: 0 auto;
        width: fit-content;
    }
    #cover-card .title-wrapper {
        margin: 0;
    }
    #arrow {
        display: none;
    }
    #go {
        display: none;
    }
    #seven-card {
        position: relative;
        top: 20px;
    }
    #sunset-card {
        position: relative;
        top: -40px;
    }
    #cheeseburger-card {
        position: relative;
        top: 20px;
    }
    #seasons-card {
        position: relative;
        top: -20px;
    }
    #employee-card {
        position: relative;
        top: 40px;
    }
    #turnip-card {
        position: relative;
        top: -20px;
    }
}

