@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Libre+Barcode+39+Text&family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 1);
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#backgroundVideo {
    position: fixed;
    top: -10%;
    right: -25%;
    width: 200%;
    z-index: -2;
}

#background {
    background-color: rgba(255, 255, 255, .3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

main {
    height: 75vh;
    overflow: scroll;
    position: fixed;
    top: 20vh;
    width: 100%;
}

.wrapper {
    height: 75vh;
    padding: 5%;
    width: 100%;
}

h2 {
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
    font-weight: lighter;
}

p {
    background-color: rgba(88, 128, 74, 0.2);
    font-family: 'Inconsolata', monospace;
    font-size: 1.4rem;
    padding: 5%;
    width: max-content;
    /* text-shadow: 2px 2px 3px rgba(88, 128, 74, 0.2); */
}

.emoji {
    font-size: 1.5rem;
}

/* header */

header {
    background-color: rgba(230, 152, 132, 0.3);
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-between;
    padding: 8% 0 2% 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

h1 {
    font-family: 'Inconsolata', monospace;
    font-size: 1.8rem;
    letter-spacing: .3em;
    padding: 0 10%;
    position: relative;
    text-align: center;
}

nav {
    width: 100%
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0 auto;
    width: 80%;
}

li {
    display: inline;
}

a {
    color: rgb(243, 243, 243);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Portfolio */

.grid {
    display: grid;
    grid-template-areas: 
                'p s'
                '. s'
                'm s'
                'm .'
                'm t'
                '. t'
                'b t'
                'b .'
                'b .';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    /* grid-template-areas: 
                's m'
                't b';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
}

#portfolio-title {
    align-items: flex-start;
    /* border-bottom: 1px solid rgba(255, 255, 255, .8);
    border-right: 1px solid rgba(255, 255, 255, .8); */
    display: flex;
    grid-area: p;
    justify-content: center;
}

#seasons {
    grid-area: s;
}

#mag-day {
    grid-area: m;
}

#turnip {
    grid-area: t;
}

#band {
    grid-area: b;
}

.card-wrapper {
    align-items: center;
    border: 1px solid rgba(255, 255, 255, .8);
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.card {
    background-color: rgba(88, 128, 74, 0.2);
    /* border: 1px solid rgba(255, 255, 255, .8); */
    height: 90%;
    padding: 10%;
    text-align: center;
    width: 90%;
}

img {
    width: 100%;
}

/* Contact */

#contact h2 {
    margin-bottom: 5%;
}

#contact a {
    font-family: 'Inconsolata', monospace;
    font-size: 1.4rem;
}


/* Footer */

footer {
    align-items: center;
    bottom: 0;
    display: flex;
    height: 5vh;
    position: fixed;
    justify-content: space-around;
    width: 100%;
}

/* @media screen and (min-width: 500px) {
    .flex-card {
        margin: 20px;
        max-width: 400px;
    }
    .flex-container {
        justify-content: space-around;
    }
    .portfolio {
        margin: 0 50px;
    }

    a {
        font-size: 1.25rem;
    }
}
    

@media screen and (min-width: 1000px) {
    .flex-card {
        margin: 0px;
        max-width: 250px;
    }
    
    .portfolio {
        margin-top: 5%;
    }

    .bio {
        margin-top: 4%;
    }
    #bio-pic {
        max-width: 500px;
    }
    
} */